*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
    {
        background-color:#ffffff;
    }

a
    {
        font-family: 'Times New Roman', Times, serif;
        padding-left: 20px;
        color:rgb(59, 59, 59);
        text-decoration: none;
    }

a:hover
    {
        color: rgb(181, 158, 74);
    
    }
.logo
    {
        display: flex;
        font-size: 20pt;
        letter-spacing: 2px;
        float: left;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
        height: 40px;
        align-items: center;
    }

.menu
    {
        margin: 15px 10px;
        float: right;
        font-weight: bold;
    }

.menu1
{
    width: 100%;
    background:#667058;
    height: 40px;
    margin: 0px 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.biography
{
    box-sizing: content-box;
    width: 600px;
    height:120px;
    padding: 40px;
    background-color: #C4B071;
    margin: 50px 300px;
}
.menu2
{
    width: 100%;
    background:#667058;
    height: 40px;
    margin: 0px 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
table,tr,td,th
    {
        border: 1px solid black;
        border-collapse: collapse;
    }

table
    {
        width: 600px;
        height: 200px;
    }

td
    {
        padding: 5px;
    }

th
    {
        background-color:#D6E3B5;
        color: black;
    }

tr
    {
        background-color: #525E38;
        color: #C4B071;
    }

tr:nth-child(odd)
    {
        background-color: #798A54;
        color: #C4B071;
    }

tr:hover
    {
        background-color: #7B8173;
    }

.slide-container
{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.image-slider
{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.7s; 
}
.slide-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(10%);
}
.button
{
    position:absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    border: 3px solid black;
}
.button:hover
{
    background-color: #667058;
    opacity: 50%;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~.image-slider #button-7{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8{
    width: 100px;
    height: 100px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1:target ~ .image-slider {left:90%}
#slider-span2:target ~ .image-slider {left:70%}
#slider-span3:target ~ .image-slider {left:50%}
#slider-span5:target ~.image-slider {left:25%}
#slider-span6:target ~ .image-slider {left:-25%}
#slider-span7:target ~ .image-slider {left:-50%}
#slider-span8:target ~ .image-slider {left:-70%}

.menu3
{
    width: 100%;
    background:#667058;
    height: 40px;
    margin: 0px 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.heading
{
    font-size: 25pt;
    font-weight: 600px;
    text-align: center;
}
.menu4
{
    width: 100%;
    background:#667058;
    height: 40px;
    margin: 0px 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.hobby-cont
{
    list-style: none;
    animation: scrolling 0.2s infinite;
}
.wrapper
{
    margin: 100px auto;
    width: 70%;
}
.text-box
{
    color: black;
}
.text-box h7
{
    font-size: 42px;
}
.text-box p
{
    font-size: 16px;
    text-align: justify;
}
.content-2
{
    background-color: #667058;
    margin: 190px;
    height:350px;
    float: left;
    margin-top: 40px;
}
.content-3
{
    background-color:whitesmoke;
    height:350px;
    float: left;
    margin: 190px;
    margin-top: -190px;
}
.content-4
{
    background-color:#667058;
    height: 350px;
    float: left;
    margin:190px;
    margin-top: -190px;
}
.menu5
{
    width: 100%;
    background:#667058;
    height: 40px;
    margin: 0px 0px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}


